In [1]:
import numpy as np
import pandas as pd

data = pd.read_excel('Dataset_w6.xlsx')
data

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.200000,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.200000,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.100000,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.100000,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.500000,88.0,491.0
...,...,...,...,...,...,...,...
192,Viet Nam,South-easternAsia,330967.0,95541.0,2067.900000,136.0,174111.0
193,Yemen,WesternAsia,527968.0,28250.0,1106.400000,136.0,6861.0
194,Zambia,EasternAfrica,752612.0,17094.0,1311.100000,179.0,7442.0
195,Zimbabwe,EasternAfrica,390757.0,16530.0,890.400000,99.0,5212.0
196,NaN,NaN,NaN,NaN,18995.593914,NaN,NaN

1.Find out how many countries are there in the dataset.

In [2]:
countries = data['country'].count()
print('Total no. of countries is : ',countries)

Total no. of countries is :  196

2.Find out how many countries with respect to the region are available in the dataset

In [3]:
region = data.groupby('Region')['country'].count()
print('No. of countries in each region is as below:')
region

No. of countries in each region is as below:

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

3.On average which region has the highest
a.GDP per capita (current US$)

In [4]:
GDP = data.groupby('Region')['GDP per capita (current US$)'].mean()
print("Country with Highest average GDP is: ",GDP.idxmax(),"and avg GDP is: $",GDP.max())

Country with Highest average GDP is:  NorthernAmerica and avg GDP is: $ 57659.0

b.International trade: Imports (million US$)

In [5]:
Trade_Imports = data.groupby('Region')['International trade: Imports (million US$)'].mean()
print("Country with Highest average Int trade imports is:",Trade_Imports.idxmax(),"and value is: $",Trade_Imports.max())

Country with Highest average Int trade imports is: NorthernAmerica and value is: $ 663552.25

4.Find out which region has more consistent with respect to GDP per capita (current US$)

In [6]:
GDP_SD = data.groupby('Region')['GDP per capita (current US$)'].std()
print('Region with More consistent GDP: ',GDP_SD.idxmin() ,'=',GDP_SD.min())

Region with More consistent GDP:  WesternAfrica = 815.0953991492564

INSIGHTS :- 
* NorthernAmerica is the Region having the highest average GDP per capita and 
   highest average International trade imports.
* Region with the least Standard Deviation has the most consistent GDP per capita
   and it is WesternAfrica.